<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4b387df9-d76c-4547-aee0-08c6543f163b/resourceGroups/ProduitRG/providers/Microsoft.Web/sites/EvaluationProduitMVC</ResourceId>
    <ResourceGroup>ProduitRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://evaluationproduitmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b33f0bef-000b-44c1-a7a7-383b38372540</ProjectGuid>
    <PublishUrl>https://evaluationproduitmvc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EvaluationProduitMVC</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>