@model EvaluationProduit.MVC.Models.ProduitModel
@inject EvaluationProduit.MVC.Services.ICategorieService CategoriesOptions

@{
    ViewData["Title"] = "Ajouter";
}

<h1>Ajouter</h1>

<h4>Nouveau Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ajouter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreation" class="control-label"></label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoyenneEvaluation" class="control-label"></label>
                <input asp-for="MoyenneEvaluation" class="form-control" />
                <span asp-validation-for="MoyenneEvaluation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CategorieModel)
                @Html.DropDownListFor(m => m.CategorieModel.NomCategorie, CategoriesOptions.CategorieList?.Select(r =>
                    new SelectListItem { Text = r, Value = r }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
