@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h4 class="display-4 text-center">Évaluation d'un produit par des consommateurs</h4>
    <ul>
        <li>Créer un compte utilisateur ou se connecter</li>
        <li>Rechercher le produit à évaluer</li>
        <li>Ajouter le produit s'il n'existe pas en attibuant une note d'évaluation</li>
        <li>Mettre à jour le produit en ajoutant une évaluation</li>
    </ul>
  
</div>