@model EvaluationProduit.MVC.Models.ProduitModel
@inject EvaluationProduit.MVC.Services.ICategorieService CategoriesOptions

@{
    ViewData["Title"] = "Ajouter";
}
<h1>Ajouter</h1>
@{
    var scriptTag = "<script type='text/javascript'>alert('XSS')</script>";
}
@scriptTag

@{
    var script = "xss()";
}
<script type="text/javascript">
    function xss() {
        alert("XSS");
    }
    document.write(@script);
</script>

<h4>Nouveau Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Ajouter">
            <div asp-validation-summary="All"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
                @*@Html.ValidationMessageFor(p => p.Nom)*@
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoyenneEvaluation" class="control-label"></label>
                <input asp-for="MoyenneEvaluation" class="form-control" />
                <span asp-validation-for="MoyenneEvaluation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.FichierPhoto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo.FichierPhoto" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choisir un fichier</label>
                </div>
                <span asp-validation-for="Photo.FichierPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CategorieModel.Nom)
                @Html.DropDownListFor(m => m.CategorieModel, CategoriesOptions.CategorieModels?.Select(r =>
                    new SelectListItem { Text = r.Nom, Value = r.Nom }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter un produit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RedirectionVersIndex">Retour</a>

    @*@Html.ActionLink("Retour", "RedirectionVersIndex")*@
</div>

@section Scripts {
    <script type="text/javascript">
        // Ajoutez le code suivant si vous voulez que le nom du fichier apparaisse sur select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
